@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JobCarnival!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolor neque quo eaque assumenda illo voluptatem quasi optio ducimus, reprehenderit commodi consequatur cumque voluptas error provident quis, sunt possimus eum!</p>
</div>
